%h1= @title
:javascript
  $(function(){
    $("table")
      .tablesorter({
        widthFixed: true, widgets: ['zebra']
      })
  });

- if (current_sale_id)
  %table.tablesorter{:align => 'center', :border => '0', :cellpadding => "5", :cellspacing => '0'}
    %thead
      %tr
        %th{'width' => "10%"} Date
        %th{'width' => "10%"} CS Rep Name
        %th{'width' => "10%"} Action
        %th{'width' => "10%"} Status
        %th{'width' => "60%"} Details
    %tbody
      - @history.each do |index, h|
        %tr
          %td= h['date']
          %td= h['name']
          %td= h['action']
          %td= h['status']
          %td= h['details']
- else
  %p.error= partial(:no_active_search)
